<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceso - SignoCarta</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}" />
    <link rel="icon" th:href="@{/assets/images/logo/logo.png}" type="image/x-icon">
</head>

<body>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="#"> <img th:src="@{/assets/images/logo/logo.png}" alt="Logo" class="logo-img" />
                        </a>
                        <h3 class="logo-text">SignoCarta</h3>
                    </div>


                    <h1 class="auth-title">Acceder</h1>
                    <p class="auth-subtitle mb-5">Inicia sesión con tu email o código de usuario.</p>

                    <form method="POST" th:action="@{/acceso}" th:object="${EntradaAcceso}">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-xl" th:field="*{nombreAcceso}" placeholder="Email o código de usuario" />
                            <div th:if="${#fields.hasErrors('nombreAcceso')}" th:errors="*{nombreAcceso}" class="text-danger"></div>
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" th:field="*{password}" placeholder="Contraseña" />
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Entrar</button>
                    </form>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class="text-gray-600">
                            ¿No tienes cuenta? <a th:href="@{/registro}" class="font-bold">Regístrate</a> | <a th:href="@{/contacto_externo}" class="font-bold">Contacto</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right"></div>
            </div>
        </div>
    </div>
</body>

</html>
